<h3>{{ title }}</h3>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th scope="col">{{ _('Field') }}</th>
      <th scope="col">{{ _('Value') }}</th>
    </tr>
  </thead>
  <tbody>
    {%- for field in additional_fields -%}
      {%- if pkg_dict[field] -%}
        {%- for schema_field in schema.dataset_fields -%}
	  {%- if schema_field.field_name == field -%}
          <tr>
            <th scope="row" class="dataset-label"><a href="{{ h.get_uri_from_prefixed_name(schema_field.label) }}">{{ h.scheming_language_text(schema_field.label) }}</a></th>
            <td class="dataset-details"{%if schema_field.display_property %} property="{{ schema_field.display_property }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html', field=schema_field, data=pkg_dict -%}</td>
          </tr>
	  {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endfor -%}
  </tbody>
</table>
