<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
    {{ title }}<b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    {% for link, name, new_window in menu_items %}
      <li><a href="{{ link }}" {% if new_window %} target="_blank" {% endif %}>{{ name }}</a></li>
    {% endfor %}
  </ul>
</li>
