{% ckan_extends %}

{% block heading_title %}
  {% set title = h.get_record_title(package.name) or package.title or package.name %}
  {% set url = h.url_for(controller='package', action='read', id=package.name) %}
  {% if c.package_type %}
    {% set url = url|replace('dataset', c.package_type) %}
  {% endif %}
  {{ h.link_to(h.truncate(title, truncate_title), url) }}
  {% if c.package_type == 'record' %}
    {% set r1_url = url|replace('record', 'r1')|replace('d', 'r1-r') %}
    <a class="btn pull-right" href="{{ r1_url }}">Get Refined Records</a>
  {% endif %}
  {% if c.package_type == 'r1' %}
    {% set record_url = url|replace('r1-r', 'd')|replace('r1', 'record') %}
    <a class="btn pull-right" href="{{ record_url }}">Get DC15 Records</a>
  {% endif %}
{% endblock %}

{% block notes %}
  {% if c.package_type == 'record' %}
    {% set descs = package.get('dc:description', [])|join("; ") %}
    {% set descs = h.markdown_extract(descs, extract_length=truncate) %}
    {% if descs %}
      <div>{{ descs|urlize }}</div>
    {% else %}
      <p class="empty">{{ _("This dataset has no description") }}</p>
    {% endif %}
  {% elif c.package_type == 'r1' %}
    {% set gns_names = h.get_gns_names_from_dct_requires(package.get('dct:requires', []))|join("; ") %}
    {% set gns_names = h.markdown_extract(gns_names, extract_length=truncate) %}
    {% set times = h.get_time_from_dct_requires(package.get('dct:requires', []))['time_century']|join("; ") %}
    {% set times = h.markdown_extract(times, extract_length=truncate) %}
    {% if gns_names %}
      <div><span class="label label-default">Placenames</span> {{ gns_names }}</div>
    {% endif %}
    {% if times %}
      <div><span class="label label-default">Time</span> {{ times }}</div>
    {% endif %}
    {% if not gns_names and not times %}
      <p class="empty">{{ _("This dataset has no description") }}</p>
    {% endif %}
  {% elif c.package_type == 'article' %}
    {% set dc_creator = package.get('dc:creator', [])|join("; ") %}
    {% set dc_date = package.get('dc:date', [])|join("; ") %}
    {% if dc_creator %}
      <div><span class="label label-default">Creators</span> {{ dc_creator }}</div>
    {% endif %}
    {% if dc_date %}
      <div><span class="label label-default">Date</span> {{ dc_date }}</div>
    {% endif %}
    {% if not dc_creator and not dc_date %}
      <p class="empty">{{ _("This dataset has no description") }}</p>
    {% endif %}
  {% else %}
    {% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
    {% if notes %}
      <div>{{ notes|urlize }}</div>
    {% else %}
      <p class="empty">{{ _("This dataset has no description") }}</p>
    {% endif %}
  {% endif %}
{% endblock %}
