{% ckan_extends %}

{% block search_facets %}
  {% if facets %}
    <p class="filter-list">
      {% for field in facets.fields %}
	{% set search_facets_items = facets.search.get(field)['items'] %}
	<span class="facet">{{ facets.titles.get(field) }}:</span>
	{% for value in facets.fields[field] %}
	  <span class="filtered pill">
	    {%- if facets.translated_fields and facets.translated_fields.has_key((field,value)) -%}
	      {{ facets.translated_fields[(field,value)] }}
	    {%- else -%}
	      {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
	    {%- endif %}
	    {% if c.package_type %}
	      <a href="{{ facets.remove_field(field, value, alternative_url=c.package_type) }}" class="remove" title="{{ _('Remove') }}"><i class="icon-remove"></i></a>
	    {% else %}
	      <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="icon-remove"></i></a>
            {% endif %}
	  </span>
	{% endfor %}
      {% endfor %}
    </p>
    <a class="show-filters btn">{{ _('Filter Results') }}</a>
  {% endif %}
{% endblock %}
