{% ckan_extends %}

{% block subtitle %}
  {% if pkg.type %}
    {{ pkg.type.capitalize() }}
  {% else %}
    {{ _('Datasets') }}
  {% endif %}
{% endblock %}

{% block breadcrumb_content %}
  {% if pkg %}
    {% set dataset = h.get_record_title(pkg.name) or pkg.title or pkg.name %}
    {% set url = h.url_for(controller='package', action='read', id=pkg.name) %}
    {% if pkg.type %}
      {% set url = url|replace('dataset', c.pkg.type) %}
      <li>{{ h.link_to(_(pkg.type.capitalize()), h.url_for(controller='package',action='search')|replace('dataset', pkg.type)) }}</li>
    {% endif %}
    <li{{ self.breadcrumb_content_selected() }}>{{ h.link_to(dataset|truncate(30), url) }}</li>
  {% else %}
    <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
    <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
  {% endif %}
{% endblock %}
