{% ckan_extends %}

{% block subtitle %}
  {% set subtitle = super() %}
  {% if h.get_record_title(pkg.name) %}
    {{ h.get_record_title(pkg.name) }}{{ subtitle|replace(pkg.name, '') }}
  {% else %}
    {{ subtitle }}
  {% endif %}
{% endblock %}

{% block page_heading %}
  {{ h.get_record_title(pkg.name) or pkg.title or pkg.name }}
  {% if pkg.state.startswith('draft') %}
    [{{ _('Draft') }}]
  {% endif %}
  {% if pkg.state == 'deleted' %}
    [{{ _('Deleted') }}]
  {% endif %}
{% endblock %}

{% block package_resources %}
{% endblock %}

{% block secondary_content %}
  {{ super() }}

  {% block package_organization %}
  {% endblock %}

  {% block other_access %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading">
        <i class="icon-copy"></i>
	{{ _('Other Access') }}
      </h2>
      <div class="module-content">
        <p>{{ _('The information on this page (the dataset metadata) is also available in these formats:') }}</p>
        <p class="btn-group">
	  <a rel="rdfs:seeAlso" href="/{{ c.pkg_dict['type'] }}/{{  c.pkg_dict['name'] }}.jsonld" class="btn btn-small">
            <i class="ckan-icon ckan-icon-rdfxml"></i> JSON-LD
	  </a>
	  <a rel="rdfs:seeAlso" href="/{{ c.pkg_dict['type'] }}/{{  c.pkg_dict['name'] }}.ttl" class="btn btn-small">
            <i class="ckan-icon ckan-icon-rdfxml"></i> Turtle
          </a>
        </p>
        <p class="btn-group">
          <a rel="rdfs:seeAlso" href="/{{ c.pkg_dict['type'] }}/{{  c.pkg_dict['name'] }}.xml" class="btn btn-small">
            <i class="ckan-icon ckan-icon-rdfxml"></i> XML
          </a>
        </p>
	<p><small>{{ _('via the ') }}<a href="http://docs.ckan.org/en/latest/api.html">CKAN API</a></small></p>
      </div>
    </section>
  {% endblock %}
{% endblock %}

{% block styles %}
  {{ super() }}
  {% resource 'iislod/styles/icons.css' %}
{% endblock %}
