{% ckan_extends %}

{% block subtitle %}
  {% if c.package_type %}
    {{ c.package_type.capitalize() }}
  {% else %}
    {{ _('Datasets') }}
  {% endif %}
{% endblock %}

{% block breadcrumb_content %}
  {% if c.package_type %}
    <li class="active">{{ h.link_to(_(c.package_type.capitalize()), h.url_for(controller='package', action='search')|replace('dataset', c.package_type)) }}</li>
  {% else %}
    <li class="active">{{ h.nav_link(_('Datasets'), controller='package', action='search', highlight_actions = 'new index') }}</li>
  {% endif %}
{% endblock %}

{% block secondary_content %}
<div class="filters">
  {% if c.package_type == 'r1' %}
    <div>
      {% snippet "spatial/snippets/spatial_query.html", default_extent="[[21.86, 119.18], [25.37, 122.34]]", alternative_url=c.package_type %}
      {% snippet "tempsearch/snippets/date_facet.html", alternative_url=c.package_type %}
    </div>
  {% endif %}
  <div id="facets">
    {% for facet in c.facet_titles %}
      {% if facet in ['role', 'agent', 'theme', 'metadesc_license', 'icon_license', 'prov_license', 'time_century', 'placename'] %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, alternative_url=c.package_type) }}
      {% endif %}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a
>
</div>
{% endblock %}
