{% extends "page.html" %}

{% block subtitle %}{{ _('Examples') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">
    <a class="active" href="/examples">{{ _('Examples') }}</a>
  </li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
    <ul>
      <li><a href="examples/JLIS-2016-query.html" target="_blank">{{ _('JLIS-2016-query') }}</a></li>
    </ul>
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
