{% set triple_count = h.get_triple_count() %}
{% set record_count = h.get_record_count() %}
{% set recent_packages = h.get_recent_packages() %}
{% set themes = h.get_facet_items('theme') %}
{% set roles = h.get_facet_items('role') %}

<div role="main">
  <div class="container">
  <div class="row wrapper no-nav" style="padding: 10px 10px 10px 10px;">
    <div class="row row2">
      <div class="span2 col1">
        <img src="/LOD-website-logo-1.jpg"/>
      </div>
      <div class="span9 col2" style="padding-bottom: 30px;">
        {% for theme in themes %}
          {% set href = h.add_url_param(new_params={'theme': theme.name}, alternative_url='record') %}
          <a href="{{ href }}">{{ theme.display_name }}</a>
        {% endfor %}
      </div>
      <div class="span9 col2" style="background-color:#eeeeee;">
        <h3>In Focus</h3>
	  <ul>
	    <li>
              <b>Agent:</b> currently records from
              <a href="{{ h.add_url_param(alternative_url='agent') }}">{{ roles|sum(attribute='count') }}</a>
              agents who have roles in
              {% for role in roles %}
                {% if loop.last %}
                and
                {% endif %}
                {% set href = h.add_url_param(new_params={'role': role.name}, alternative_url='agent') %}
                <a href="{{ href }}">{{ role.display_name }} ({{ role.count }})</a>
                {%- if not loop.last -%}
                ,
                {%- endif -%}
              {% endfor %}.
            </li>
	    <li>
              <b>Time:</b> records can be filtered by Time or
              <a href="{{ h.add_url_param(alternative_url='sparql') }}">Sparql Query.</a>
            </li>
	    <li>
              <b>Place:</b> records can be filtered by Map, by Place Name or by 
              <a href="{{ h.add_url_param(alternative_url='sparql') }}">Sparql Query.</a>
           </li>
	 </ul>
	 <h3>Total Resources</h3>
	 <ul>
	   <li>
             <a href="{{ h.add_url_param(alternative_url='record') }}">{{ h.localised_number(record_count.dc15_count) }}</a>
             {{ _('record') if record_count.dc15_count <= 1 else _('records') }}
             from
             {{ themes|length }}
             {{ _('dataset') if themes|length <= 1 else _('datasets') }}.
           </li>
	   <li>
	     {{ h.localised_number(triple_count.dc15_count) }}
	     {{ _('triple') if triple_count.dc15_count <= 1 else _('triples') }}
	     from 
             {{ themes|length }}
             {{ _('dataset') if themes|length <= 1 else _('datasets') }}
             encoded with <a href="http://purl.org/dc/elements/1.1/">DC 15 elements</a>.
	   </li>
	   <li>
             {{ h.localised_number(triple_count.refined_count) }}
             {{ _('triple') if triple_count.refined_count <= 1 else _('triples') }}
	     from
             <a href="{{ h.add_url_param(alternative_url='r1') }}">{{ h.localised_number(record_count.refined_count) }}</a>
	     {{ _('record') if record_count.refined_count <= 1 else _('records') }}
             semantically refined with domain knowledges.
           </li>
	 </ul>
	 <h3>Last Updated</h3>
	 <ul>
            {% for package in recent_packages %}
	      <li><a href="{{ h.url_for(controller='package', action='read', id=package.name) }}">{{ package.title }}</a>, {{ h.time_ago_from_timestamp(package.metadata_modified) }}.</li>
            {% endfor %}
	 </ul>
      </div>
    </div>
  </div>
  </div>
</div>
