{%- set values = data[field.field_name] -%}

{% if values is string %}
  {% set url = h.get_uri_from_prefixed_name(values) %}
  {{ h.link_to(values, url, rel=field.display_property, target='_blank') }}
{% elif values|length == 1 %}
  {% set url = h.get_uri_from_prefixed_name(values[0]) %}
  {{ h.link_to(values[0], url, rel=field.display_property, target='_blank') }}
{% else %}
  <ul>
  {%- for element in values -%}
    {% set url = h.get_uri_from_prefixed_name(element) %}
    <li>{{ h.link_to(element, url, rel=field.display_property, target='_blank') }}</li>
  {%- endfor -%}
  </ul>
{% endif %}
