{%- set values = data[field.field_name] -%}
{%- set include_details = field.get('include_details', True) %}

<table class="table table-striped table-bordered table-condensed">
{%- for element in values -%}
  {% if element is mapping %}
    {% for key, value in element.iteritems() %}
      <tr><td colspan="3">{{ h.link_to(h.get_prefixed_name_from_uri(key), key, target='_blank') }}</td></tr>
      {% if include_details %}
        {% set details = h.group_list_of_dict(value) %}
        {% set rdf_types = details[h.get_uri_from_prefixed_name('rdf:type')] %}
        {% if rdf_types %}
          <tr>
            <th>{{ h.link_to('rdf:type', h.get_uri_from_prefixed_name('rdf:type'), target='_blank') }}</th>
            <td colspan="2">
            {% for rdf_type in rdf_types %}
              {{ h.link_to(h.get_prefixed_name_from_uri(rdf_type), rdf_type, target='_blank') }}
              {%- if not loop.last -%}
              ,
              {% endif %}
	    {% endfor %}
            </td>
          </tr>
        {% endif %}
	{% for key, value3 in details.iteritems() if h.get_prefixed_name_from_uri(key) in ['r4r:hasLicense', 'rdfs:label', 'dct:date'] or h.get_prefixed_name_from_uri(key).split(':')[0] not in ['dc', 'r4r', 'txn', 'dct', 'dcat', 'org', 'rdf'] %}
	  <tr>
          {% if value3 %}
            {% set sub_count = [0] %}
            {% for value4 in value3 %}
              {% if value4 is mapping %}
	        {% if sub_count.append(sub_count.pop() + value4|length) %}{% endif %}
	      {% endif %}
            {% endfor %}
	    {% set count = sub_count[0] + 1 %}
	    <th rowspan="{{ count }}">{{ h.link_to(h.get_prefixed_name_from_uri(key), key, target='_blank') }}</th>
            {% for value4 in value3 %}
              {% if value4 is mapping %}
	        <tr><td colspan="2">
	        {{ h.link_to(h.get_prefixed_name_from_uri(value4['id']), value4['id'], target='_blank') }}
	        </td></tr>
	        {% for key, value5 in value4.iteritems() if not key == 'id' %}
	          <tr>
                    <th>{{ h.link_to(h.get_prefixed_name_from_uri(key), key, target='_blank') }}</th>
                    <td>
                    {% for value6 in value5 %}
                      {%- if h.is_url(value6) -%}
                        {{ h.link_to(h.get_prefixed_name_from_uri(value6), value6, target='_blank') }}
                      {%- else -%}
                        {{ value6 }}
                      {%- endif -%}
                      {%- if not loop.last -%}
                      ,
                      {% endif %}
                    {% endfor %}
                    </td>
                  </tr>
                {% endfor %}
              {% endif %}
	    {% endfor %}
	    <td colspan="2">
	    {% for value4 in value3 %}
	      {% if value4 is not mapping %}
                {%- if h.is_url(value4) -%}
                  {{ h.link_to(h.get_prefixed_name_from_uri(value4), value4, target='_blank') }}
                {%- else -%}
		  {{ value4 }}
                {%- endif -%}
	      {%- if not loop.last -%}
	      ,
	      {% endif %}
	      {% endif %}
            {% endfor %}
            </td>
	  {% endif %}
	  </tr>
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% else %}
    <tr><td>
      {% if h.is_url(element) %}
        {{ h.link_to(h.get_prefixed_name_from_uri(element), element, target='_blank') }}
      {% else %}
	{{ element }}
      {% endif %}
    </td></tr>
  {% endif %}
{%- endfor -%}
</table>
