{%- set values = data[field.field_name] -%}

{% if values|length == 1 %}
  {{ values[0]|safe }}
{% else %}
  <ul>
  {%- for element in values -%}
    <li>{{ element|safe }}</li>
  {%- endfor -%}
  </ul>
{% endif %}
