{%- set values = data[field.field_name] -%}

{% if values|length == 1 %}
  {% if values[0] is mapping %}
    {% for key, value in values[0].iteritems() %}
      <ul><li><span class="label label-info">{{ key }}</span> {{ value }}</li></ul>
    {% endfor %}
  {% else %}
    {{ values[0] }}
  {% endif %}
{% else %}
  <ul>
  {%- for element in values -%}
    {% if element is mapping %}
      {% for key, value in element.iteritems() %}
        <li><span class="label label-info">{{ key }}</span> {{ value }}</li>
      {% endfor %}
    {% else %}
      <li>{{ element }}</li>
    {% endif %}
  {%- endfor -%}
  </ul>
{% endif %}
