{% if field.license %}
  {% set licenses = h.get_uri_license_mapping() %}
{% endif %}
{%- set values = data[field.field_name] -%}

<ul>
{%- for element in values -%}
  {% for key, value in element.iteritems() %}
    <li><span class="label label-info">{{ key }}</span>
    {% if field.license and value in licenses %}
      {% set value = licenses[value] %}
    {% endif %}
    {{ h.link_to(value, value, rel=field.display_property, target='_blank') }}
    </li>
  {% endfor %}
{%- endfor -%}
</ul>
