{%- set values = data[field.field_name] -%}

{% if values|length == 1 %}
  {{ h.link_to(values[0], values[0], rel=field.display_property, target='_blank') }}
{% else %}
  <ul>
  {%- for element in values -%}
    <li>{{ h.link_to(element, element, rel=field.display_property, target='_blank') }}</li>
  {%- endfor -%}
  </ul>
{% endif %}
