{% ckan_extends %}

{% block footer_links %}
  <li>{{ _('Contact us') }}{{ ': ask AT odw.tw' }}</li>
{% endblock %}

{% block footer_links_ckan %}
  {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
  <li><a href="{{ api_url }}" class="external" target="_blank">{{ _('CKAN API') }}</a></li>
  <li>Lab 317, Institute of Information Science, Academia Sinica 128 Academia Road, Section 2, Nankang, Taipei 115, Taiwan.</li>
{% endblock %}

{% block footer_attribution %}
  {{ super() }}
  {% trans %}<p>Source code available on <a href="https://gitlab.com/iislod" class="external" target="_blank">GitLab.</a></p>{% endtrans %}
{% endblock %}
