{% ckan_extends %}

{%- set refined_menu = [
  ('/r1', 'r1', False)
  ] -%}

{%- set resource_menu = [
  ('/article', _('Article'), False),
  ('#', _('Code'), False),
  ('#', _('Dumps'), False),
  ('#', _('Analysis'), False)
  ] -%}

{%- set sparql_menu = [
  ('/sparql', _('Sparql'), False),
  ('http://sparql.odw.tw', _('Virtuso Sparql'), True),
  ('/examples', _('Examples'), False)
  ] -%}

{%- set ontology_menu = [
  ('http://voc.odw.tw/ontology', _('Full Ontology'), True),
  ('#', _('Core Model'), True),
  ('#', _('Curation Model'), True),
  ('#', _('Voaf Vocabulary'), True)
  ] -%}

{%- set about_menu = [
  ('#', _('Visions'), False),
  ('#', _('Introduction'), False),
  ('#', _('People'), False),
  ('#', _('Projects'), False)
  ] -%}

{% block header_site_navigation %}
  <nav class="section navigation">
    <ul class="nav nav-pills">
      {% block header_site_navigation_tabs %}
        {{ h.build_nav_main(
          ('record', _('Record'))
        ) }}
	{% snippet 'snippets/dropdown_menu.html', title=_('Refined'), menu_items=refined_menu %}
	{% snippet 'snippets/dropdown_menu.html', title=_('Resource'), menu_items=resource_menu %}
	{% snippet 'snippets/dropdown_menu.html', title=_('Sparql'), menu_items=sparql_menu %}
	{% snippet 'snippets/dropdown_menu.html', title=_('Ontology'), menu_items=ontology_menu %}
	{% snippet 'snippets/dropdown_menu.html', title=_('About'), menu_items=about_menu %}
      {% endblock %}
    </ul>
  </nav>
{% endblock %}

{% block header_site_search %}
  <form class="section site-search simple-input" action="/record" method="get">
    <div class="field">
      <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
      <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search') }}" />
      <button class="btn-search" type="submit"><i class="icon-search"></i></button>
    </div>
  </form>
{% endblock %}
